h1 {
  text-align: center;
}
.pokes-section {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1200px;
}

.poke-container {
  text-align: center;
  box-shadow: 0 0 20px rgba(115,115,115,0.75);
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 250px;
}
